/exercicio02/nbproject/private/
/exercicio02/build/
/exercicio01/nbproject/private/
/exercicio01/build/
/exercicio03/nbproject/private/
/exercicio03/build/
/exercicio04/nbproject/private/
/exercicio04/build/
/exercicio05/nbproject/private/
/exercicio05/build/
/exercicio06/nbproject/private/
/exercicio06/build/
/exercicio07/nbproject/private/